{% load static %}

<link rel="stylesheet" href="{% static 'reservation_system/style.css' %}">

{% if service_list %}
    <ul>
        {% comment %} <form action="">
            <input type="text" name="name" placeholder="Search by title" value="{{request.GET.name}}">
            <input type="submit" value="Search">
        </form> {% endcomment %}
    {% for service in service_list %}
        <li>{{service}} {{service.company.name}} 
            {% for comment in service.company.categories.all %}
            {{ comment }}
        {% endfor %}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>Unavailable.</p>
{% endif %}